HEAD
body {
  min-height: 2000px;
}

.jumbotron {
  margin-bottom: 400px;
}

#About {
  margin-bottom: 165px;
}

#Contact {
  margin-top: 350px;
}

#project {
  background-color: #bcd0f5;
}

body {
  min-height: 2000px;
}

.jumbotron {
  margin-bottom: 400px;
}

#About {
  margin-bottom: 165px;
}

#Contact {
  margin-top: 350px;
}

#project {
  background-color: #bcd0f5;
}

